<%- include('../partials/header') %>
<ul>
  <% flightArr.forEach(function(f) { %>
        <h2><li>Flight Number: <%= f.flightNo %> </li></h2>
        <li>Airline: <%= f.airline %> </li>
        <li>Airport: <%= f.airport %> </li>
        <li>Departure Date: <%= f.departs %> </li><br>
  <% }) %>
</ul>
    <%- include('../partials/footer') %>